@import "tailwindcss";

@theme {
  --color-main: #0d0f14;
  --color-hover: #222733;
  --color-active: #1c1e29;
  --margin-main: 20px;
  --gap-article: 40px;
  --width-main: 90%
}

:root {
  --swiper-navigation-color: gray;
  --swiper-pagination-color: gray;
}